@import 'constants';

.navbar {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	background-color: $primary-color;	
	padding: 1.5em;

	.menu {
		padding: 1em;
		transition: 0.3s;
		border-radius: 8px;

		&:hover {
			background-color: $text-color;

			a {
				color: $primary-color;
				cursor: pointer;
			}
		}

		.menu-item {
			font-size: 18px;
		}
	}
}

.drawer {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100%;
    width: 300px;
    background-color: $primary-color;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
/*    overflow-x: hidden;*/
    transition: 0.3s;
}

.drawer.active {
    right: 0;
}

.drawer-header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.drawer-close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.drawer-content a {
    display: block;
    padding: 20px;
    color: $primary-color;
    border: 2px solid;
  	background-color: $text-color; 
    text-decoration: none;
    transition: 0.2s;

    &:hover {
    	translate: -10px -10px;
    	scale: 1.2;
    }
}

