@import 'constants';

.page-body-container {
	@include page-body(0%);

	.split-container {
		@include center-flex-box();
		height: 100%;
		width: 100%;
		flex-direction: column;

		&:first-child {
			background-color: $primary-color;
		}

		& > * {
			margin: 10px;
		}

		h1 { 
			font-size: 50px;
		}

		.title-text, 
		.timer-text {
			font-size: 50px;
		}

		button {
			cursor: pointer;
			padding: 0.5em 1em;
			border: medium;
			border-radius: 8px;
			font-size: 30px;
			text-transform: uppercase;
		 	background-color: white;
		 	color: $primary-color;
		 	box-shadow: rgb(235, 235, 235) 0px 6px 0px;
			transition: 0.2s;

			&:hover {
				scale: 1.2;
			}
		}

		input[type="text"] {
			color: black;
			border-radius: 8px;	
			padding: 10px;
			border: 2px solid black;
			width: 60%;
		}

		#add-task-btn {
			font-size: 20px;
			background-color: $primary-color;
			color: white;
			box-shadow: #CC6530 0px 6px 0px;
		}

		#tasks-container {
		    margin-top: 20px;
		    width: 100%;
		    max-width: 400px;
		}

		.task-item {
		    display: flex;
		    align-items: center;
		    margin-bottom: 10px;
		}

		.task-checkbox {
		    margin-right: 10px;
		    width: 20px;
		    height: 20px;
		}

		.task-label {
			font-family: $font-stack;
		    font-size: 20px;
			color: black;
		}
	}	
}

.custom-btn {
	position: fixed;
	background-color: white;
	color: $primary-color;
	box-shadow: rgb(235, 235, 235) 0px 6px 0px;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.2s;

	&:hover {
		scale: 1.2;
	}
}

#setting-btn {
	bottom: 20px;
	left: 20px;
}

#video-btn { 
	bottom: 80px;
	left: 20px;
}
 
.video-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Ensure it's above other elements */
        display: none; /* Initially hidden */
        background-color: white;
        padding: 20px;
        border: 2px solid #007BFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 80%; /* Adjust as needed */
        max-height: 80%; /* Adjust as needed */
        overflow: hidden;
    }

.video-container iframe {
    width: 100%;
    height: 100%;
}

.video-inputs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-inputs input {
    flex: 1;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    background-color: $primary-color;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal-content input {
	font-family: $font-stack;
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: $primary-color;
}

.modal-content button {
    background-color: white;
    color: $primary-color;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    margin: 10px 10px;

	&:hover {
		scale: 1.2;
	}
}

/*.modal-content button.close {
    background-color: #f44336;
}*/