<!Doctype html> 
<html>
	<head>
		<title>{{ .Title }}</title>
		{{ $styles := slice "style" "header" "footer" "pomodoro-timer"}}
		{{ range $style := $styles }}
			{{ $style := printf "scss/%s.scss" $style }}
			{{ $style := resources.Get $style | toCSS }}
			<link rel='stylesheet' href='{{ $style.RelPermalink }}'>
		{{ end }}
	</head>	
	<body> 
		{{ partial "header" . }}
		{{ block "main" . }}
		{{ end }}
		{{ partial "footer" . }}
		{{ $scripts := slice "navbar" }}
		{{ range $script := $scripts }}
			{{ $script := printf "scripts/%s.js" $script }}
			{{ $script := resources.Get $script | resources.Minify | fingerprint }}
	    	<script src="{{ $script.Permalink }}"></script>
		{{ end }}
	</body>
</html>